.App {
    text-align: center;
    max-width: 800px;
}

.hr-sidebar {
    border-color: white;
}

.hr-large-section {
    border-color: black;
}

.fa-fadein-spin {
    opacity: 0;
    animation: fadein .75s ease 0.5s forwards, spin 2s ease infinite;
}

@keyframes fadein {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
